.containerArticles {
  width: 80vw;
  height: 100vh;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: center;
}

.card {
  height: fit-content;
  width: 45%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card button {
  padding: 8px 20px;
  background-color: var(--color-btn);
  color: white;
  border: none;
  border-radius: 20px;
  width: 30%;
  float: inline-end;
  font-weight: bold;
  margin: 0 10px 10px auto;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-family: var(--font-text);
}

.card button:hover {
  background-color: var(--color-btn-hover);
}

.image {
  background-color: black;
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 20px 20px 0px 0px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  flex: 1;
}
