@import "tailwindcss";

:root {
  /* Couleurs de base */
  --background: #ffffff;
  --foreground: #171717;
  
  /* Vos 4 couleurs personnalisées */
  --primary: #C2E0E3;
  --secondary: #5C6C73;
  --accent: #34d399;
  --danger: #253337;     
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Vos 4 couleurs personnalisées pour Tailwind */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-danger: var(--danger);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-share: var(--font-share);
  --font-puritan: var(--font-puritan);
  --font-junge: var(--font-junge);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    /* Vos 4 couleurs personnalisées */
    --primary: #C2E0E3;
    --secondary: #5C6C73;
    --accent: #34d399;
    --danger: #253337;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Classes de typographie */
.font-share {
  font-family: var(--font-share), sans-serif;
}

.font-puritan {
  font-family: var(--font-puritan), sans-serif;
}

.font-junge {
  font-family: var(--font-junge), serif;
}
