@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --background: #ffffff;

  /* Charte graphique */
  --color-a: #6e6b6f;
  --color-a-hover: #ececec;
  --color-text: #2c2c2c;
  --color-background: #f2f2f2;
  --color-input: #fafafa;
  --color-border: #dfdfdf;
  --color-btn: #4451e6;
  --color-btn-hover: #0e1dc0;

  --font-title: "Montserrat", Arial, Helvetica, sans-serif;
  --font-text: "Open Sans", Arial, Helvetica, sans-serif;

  --fontweight-lighter: 300;
  --fontweight-light: 400;
  --fontweight-medium: 500;
  --fontweight-semibold: 600;
  --fontweight-bold: 700;

  --border-radius-s: 10px;
  --border-radius-m: 20px;
  --border-radius-l: 40px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-text);
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  color: var(--color-text);
}

.children {
  width: 100vw;
  padding: 20px;
}
